[submodule "themes/NexT"]
	path = themes/NexT
	url = git@github.com:iissnan/hexo-theme-next.git
[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:Trim21/blog-posts.git
[submodule "themes/landscape-plus"]
	path = themes/landscape-plus
	url = git@github.com:Trim21/landscape-plus.git