<a href="<%- url_for(post.path) %>" target="_blank">
  <article class="archive-article">
    <div class="archive-article-inner">
      <header class="archive-article-header">
        <div class="archive-article-date">
          <time datetime="<%= date_xml(post.date) %>"
                itemprop="datePublished">
            <%= date(post.date, 'MM-DD') %></time>
        </div>
        <h1 itemprop="name" class="archive-article-title"><%= post.title %></h1>
      </header>
    </div>
  </article>
</a>
